
.home-page-outer-div{
    width: 100%;
    height: 100vh;
    background-color: #303136;
    position: relative;

    .ellipse-img{
        position: absolute;
        top: 0%;
        left: 0%;
    }

    .sideWave-img{
        position: absolute;
        top: 0%;
        right: 0%;
    }

    .bigCircles-img{
        position: absolute;
        top: 0%;
        right: 0%;
        height: 90vh;
    }

    .smallCircles-img{
        position: absolute;
        height: 220px;
        width: 190px;
        bottom: 0%;
        left: 0%;
    }

    .etherium-coin-img{
        position: absolute;
        bottom: 80px;
        left: 55px;
        width: 100px;
        height: 100px;
    }

    .lock-img{
        position: absolute;
        height: 161.00000138234648px;
        width: 140.00000120204044px;
        left: 1182px;
        top: 555.101318359375px;
        border-radius: 0px;
    }

    .etherium-gif{
        position: absolute;
        height: 484px;
        width: 484px;
        left: 796px;
        top: 56px;
        border-radius: 0px;
    }

    .introduction-div{
        position: absolute;
        top: 150px;
        left: 200px;

        p{
            margin: 0%;
            padding-bottom: 20px;
        }

        .intro{
            font-family: 'Kanit';
            font-style: normal;
            font-weight: 300;
            font-size: 56.9664px;
            line-height: 126%;
            color: white;

            span{
                color: rgb(207, 31, 66);
            }
        }

        .discription{
            color: white;
            font-family: 'Kanit';
            font-style: normal;
        }

        .custom-button{
            width: 160px;
            text-decoration: none;
            background: linear-gradient(90deg, #99243D 0%, #FBC761 364.91%);
            border-radius: 15px;
            padding: 15px 20px;
            color: white;
            display: flex;
            justify-content: center;
            align-items: center;
        }
        

    }
}